* {
    box-sizing: border-box;
    font-family: ubuntu, noto sans, san serif;
}

body {
    background: #e1e7ee;
    width: 100%;
}

p {
    font-weight: 1.2em;
    color: #83da8a;
}

h1,
h2 {
    color: #888888;
}

.part,
.input,
.box {
    display: flex;
}

.input {
    margin: auto;
    flex: 1;
    flex-direction: column;
}

.box {
    flex-direction: row;
    justify-content: flex-start;
}