* {
    box-sizing: border-box;
    font-family: ubuntu, noto sans, san serif;
}

body {
    background: #e1e7ee;
    width: 100%;
}

p {
    font-weight: 1.2em;
    color: #83da8a;
}

h1,
h2,
legend {
    color: #888888;
}

.main-footer,
.intp-field,
.label,
.box {
    display: flex;
}

.label {
    margin: 20px;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

.inpt-field {
    border-radius: 8px;
    box-shadow: 2px 3px 5px rgba(3,3,3,15);
}

.box {
    padding: 5px 0;
    flex-basis: 50px;
    justify-content: baseline;
  
}

.box-label {
    margin-left: 10px;
    vertical-align: center;
}

.c-box,
.r-box {
  margin-top: 2.5px;
}

.main-footer {
    background: darkslategrey;
    color:#83da8a;  
    width: 100%;
    justify-content: center;
    padding: 20px 0;
}



