* {
    box-sizing: border-box;
    font-family: ubuntu, noto sans, san serif;
}

body {
    background: #e1e7ee;
    width: 100%;
}

p {
    font-weight: 1.2em;
    color: #83da8a;
}

h1,
h2 {
    color: #888888;
}

.intp-field,
.label,
input [type="radio"],
input [type="checkbox"],
label {
    display: flex;
}

.label {
    margin: 20px;
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
}

.inpt-field {
    border-radius: 8px;
    box-shadow: 2px 3px 5px rgba(3,3,3,15);
}

form input [type= "radio"],
input [type= "checkbox"] {
    
    flex-direction: row;
    justify-content: space-evenly;
}

.container1 label {
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    flex: 2 0 100px;
}

